
body{
    overflow-x: hidden;

}
::-webkit-scrollbar{
    display: none;
}

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-weight: bold;
     color:blanchedalmond;
    
}
.button{
    width: 20%;
    background-color: #145888;
    gap: 5%;
}

img[alt="logo"] {
    width: 5rem;
}

body {
    background-color: #051622;
    color: beige;
}
.card{
    width: 18rem;
    background-color: #0b3654;
    color: #deb992;
}
.btn{
    background-color: #145888;
    color: #deb992;
}
.row {
    margin-block: .5rem;
}
hr{
    color: #deb992;
    width: 100%;

} 
h1{
    text-align: center;
    color: #deb992;

}
span{
    text-align: center;

}
.img1 {
   /* align-items: center;
   justify-content: center; */
   width: 500px;
   margin-left: 34%;
   margin-right: 50%;
}
p{
    color: #deb992;
}
.btn:hover {
    background-color: #0b3654;
}
.button:hover {
    background-color: #0b3654;
}




body {
     background: #051622
}

form {
     max-width:420px; margin:50px auto; 
}

.input {
  color:#deb992;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #0b3654;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

input:focus {
     border:2px solid #0b3654; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#145888;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #deb992;;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover {
     background:#0b3654;
}