
body{
    overflow-x: hidden;
}
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img[alt="logo"] {
    width: 5rem;
}

body {
    background-color: #051622;
    color: beige;
}
hr{
    color: #deb992;
    border-width: 100%;
} 
h1{
    text-align: center;
}
span{
    text-align: center;
}
.img1 {
   /* align-items: center;
   justify-content: center; */
   width: 500px;
   margin-left: 34%;
}

